body{
    color: black;
    background: rgb(0, 242, 255);
}
.heading
{width: 80%;
    font-size: 24px;
}
.nameofobject 
{
color: darkblue;
font-size: 20px;
font-family: sans-serif;
}
button
{
    width: 250px;
    height: 80px;
    border-radius: 30px;
}